@model IEnumerable<www.xbmcguide.dk.ViewNewsArticlesFrontpage>
@{
    ViewBag.Title = "Index";
}
<section>
@foreach (var item in Model)
{
    <article>
        <header>
            <h2 class="ArticleHeading">@Html.ActionLink(item.Heading, "Details", new { id = item.Id }, new { @class = "ArticleHeading" })</h2>
            <div class="PublishInfo">
                <time class="ArticleCreated" pubdate="pubdate">@String.Format("{0:d. MMMM yyyy}", item.CreatedDate)</time><small class="ArticleAuthor"> af Allan Vraa</small>
            </div>
            </header>
                <div>
                    @Html.Raw(item.Body)
                </div>
            <footer>
            <p>13 kommentarer</p>
        </footer>
    </article>
}
    @Html.ActionLink("Create New", "Create")
</section>
